*{
	margin: 0;
	box-sizing: border-box;
	
}

body {
	display: flex;
	flex-direction: column;
	background-image: url("list.jpg");
	background-repeat:repeat;
	background-size: 100%;
	
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	
}

header h1{ 
	text-align: center;
	font-size: 45px;
	font-weight: 600;
    color:darkolivegreen;
	margin-bottom: 2rem;
    text-decoration: wavy;
}

#listcreating {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#assign {
	flex: 1 1 0%;
	background-color: black;
	padding: 1.4rem;
    margin-right: 2rem;
	color: whitesmoke;
	font-size: 1.2rem;
	border: solid 1.2px white;
}

#assign::placeholder {
	color: rgb(198, 228, 192);
    font-size: 23px;

}

#submit{
	color: rgb(11, 12, 12);
	font-size: 1.5rem;
	font-weight: 800;	
	background-color: cornflowerblue;
	cursor: pointer;
	transition: 0.6s;
	border-radius: 5px;
    font-weight: 0;
    font-family: Arial;
    
}

#submit:hover {
	opacity: 0.8;
    color:rgb(37, 137, 127);
}

#submit:active {
	opacity: 0.6;
    color:aquamarine;
}


main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
	border-top: none;

}

.list h2 {
	font-size: 2rem;
	font-weight: 800;
	color:burlywood;
	margin-bottom: 2rem;
    text-decoration: underline;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: rgba(61, 221, 221, 0.651);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: rgb(31, 4, 4);
	font-size: 1.5rem;
	width: 100%;
	display: block;
	transition: 0.4s;

}


.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.4s;
	border-radius: 10px;
	padding: 5px 20px;
	border: solid 1px white;
}



.task .actions .delete {
	color: black;
}
@media screen and (max-width:600px){
body {
	display: flex;
	flex-direction: column;
	background-image: url("list.jpg");
	background-repeat: repeat;
	background-size: 100%;
    
	
}	
	
	
}
